{% extends "_layout" %}

{% block content %}
    <section class="product-section">
      <div class="wrapper">
        <div class="product-container">
          <a href="{{siteUrl}}catalog" class="back-btn">
            <img src="{{ url('icons/Icon_ChevronLeft.svg') }}" alt="Back" />
            <p>Back to catalog</p>
          </a>

          <div class="product-content-container">
            <div class="product-image">
              <img src="{{entry.productImage.one().url('')}}" alt="Shoe" />
            </div>

            <div class="product-info">
              <h1 class="name">{{entry.title}}</h1>
              <p class="color">{{entry.fullColor}}</p>

              <div class="sizes-container">
                <p class="size-container-label">Select size</p>

                <div class="size-boxes-container">
                  {% for size in entry.sizes %}
                    <label for="shoe-size" class="input-container">
                      <input type="radio" name="shoe-size" class="shoe-size" />
                      <span class="size-number">{{size}}</span>
                    </label>
                  {% endfor %}
                </div>
              </div>

              <div class="button-price-container">
                <button>+ Add to cart</button>
                <p class="price">{{entry.price|money}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="description-section">
      <div class="wrapper">
        <div class="description-info-container">
          <div class="description-container">
            <h2 class="title">Description.</h2>
            <p class="subtitle">About model</p>
            <p class="text">
              {{entry.productDescription}}
            </p>
          </div>

          <div class="sizes-container">
            <p class="size-container-label">Select size</p>
            <div class="size-boxes-container">
              {% for size in entry.sizes %}
                <label for="shoe-size" class="input-container">
                  <input type="radio" name="shoe-size" class="shoe-size" />
                  <span class="size-number">{{size}}</span>
                </label>
              {% endfor %}
            </div>
          </div>

          <button class="add-cart-btn">+ Add to cart</button>
        </div>

        <div class="characteristics-container">
          <p class="subtitle">Characteristics</p>
          <p class="characteristic"><span class="label">Brand</span> {{entry.brand}}</p>
          <p class="characteristic">
            <span class="label">Material</span> {{entry.material}}
          </p>
          <p class="characteristic">
            <span class="label">Details</span>
            {{entry.details}}
          </p>
          <p class="characteristic"><span class="label">Color</span> {{entry.simplifiedColor}}</p>
          <p class="characteristic"><span class="label">Code</span> {{entry.code}}</p>
        </div>
      </div>
    </section>
{% endblock %}